* {
	margin: 0;
	padding: 0;
	color: white;
	background-color: #435166;
}

body {
	text-align: center;
}

header {
	margin: 10px auto;
}

.container {
	margin: 50px auto;
}

.container img {
	width: 100px;
	border: 5px solid #435166;
	border-radius: 50%;
}

.container .info {
	margin: 20px auto;
	width: 150px;
	height: 50px;
	background-color: white;
	border-radius: 20px;
	color: #435166;
	line-height: 50px;
	font-size: 22px;
	font-weight: bold;
}

.container .playerSection .player:hover {
	border-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

nav {

}

nav ul li {
	display: inline-block;
}