* {
	margin: 0;
	padding: 0;
	color: white;
	background-color: #435166;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

body {
	text-align: center;
	animation: fadeIn 1s;
}

header {
	margin: 10px auto;
}

header h1, #playtime, #score, nav h4 {
	font-family: 'Chewy', cursive;
	font-size: 20px;
	color: #e7fae3;
}

header h1 {
	font-size: 26px;
}

header h3, #time, #liveScore, nav {
	font-family: 'Happy Monkey', cursive;
	font-size: 18px;
}

.container {
	margin: 25px auto;
}

.container .liveTime {
	margin-bottom: 30px;
}

.container img {
	width: 100px;
	border: 5px solid #435166;
	border-radius: 50%;
}

.container .info {
	margin: 10px auto;
	width: 150px;
	height: 50px;
	background-color: white;
	border-radius: 20px;
	color: #435166;
	line-height: 50px;
	font-size: 22px;
	font-weight: bold;
}

.container .playerSection .player, nav a, button {
	transition: 700ms ease;
}

.container .playerSection .player:hover {
	border-color: #e7fae3;
	cursor: pointer;
}

.container button {
	font-size: 20px;
	margin: 10px auto;
	border-style: none;
	cursor: pointer;
	width: 80px;
	height: 30px;
}

nav a {
	text-decoration: none;
	display: inline-block;
	width: 100px;
	height: 30px;
	border-radius: 50%;
	line-height: 30px;
}

.container button:hover, nav ul li a:hover {
	background-color: rgba(231, 250, 227, 0.2);
}

nav h4 {
	margin-top: -10px;
}

nav ul li {
	display: inline-block;
	margin: 5px 10px;
}