* {
	margin: 0;
	padding: 0;
	color: white;
	background-color: #435166;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

body {
	text-align: center;
	animation: fadeIn 1s;
}

header {
	margin: 10px auto;
}

header h1, #playtime, #score {
	font-family: 'Chewy', cursive;
}

header h3, #time, #liveScore, nav {
	font-family: 'Happy Monkey', cursive;
}

.container {
	margin: 40px auto;
}

.container .liveTime {
	margin-bottom: 30px;
}

.container img {
	width: 100px;
	border: 5px solid #435166;
	border-radius: 50%;
}

.container .info {
	margin: 20px auto;
	width: 150px;
	height: 50px;
	background-color: white;
	border-radius: 20px;
	color: #435166;
	line-height: 50px;
	font-size: 22px;
	font-weight: bold;
}

.container .playerSection .player:hover {
	border-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

nav a {
	text-decoration: none;
}

nav h4 {
	margin-top: -10px;
}

nav ul li {
	display: inline-block;
	margin: 10px 10px;
}